{% extends 'trainer/base.html' %}
{% block body %}
<div class="container-fluid events-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-lg-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'trainer:adetails' trainer.id article.id %}">
                        {% if article.apicture %}
                            <img src="{{ article.apicture.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ article.atitle }} <small>{{ article.adiscription }}</small></h1>
                    <h2>{{ article.alocation }}</h2>
                </div>
            </div>
        <p>
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </p>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        </div>

        <!-- Right Song Info -->


        </div>

    </div>

</div>
{% endblock %}